@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary-1: #65451F;
  --color-primary-2: #765827;
  --color-secondary-1: #D5C09A;
  --color-secondary-2: #F5E2CC;
  --color-white-cream: #F9F6F1;
  --color-black-warm: #1E1C1B;

  --color-black-100: #1E1C1B;
  --color-black-75: rgba(30, 28, 27, 0.75);
  --color-black-50: rgba(30, 28, 27, 0.50);
  --color-black-25: rgba(30, 28, 27, 0.25);
  --color-black-10: rgba(30, 28, 27, 0.10);
  --color-black-5: rgba(30, 28, 27, 0.05);

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Open Sans', sans-serif;
  --font-accent: 'Pacifico', cursive;
}

/* Base styles and scrollbar customization */
@utility text-h1 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(3.5rem, 2rem + 4vw, 6.5625rem);
  line-height: 1.1;
}

@utility text-h2 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(3rem, 1.5rem + 3.5vw, 5.25rem);
  line-height: 1.1;
}

@utility text-h3 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(2.25rem, 1rem + 3vw, 4.1875rem);
  line-height: 1.2;
}

@utility text-h4 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(1.75rem, 1rem + 2vw, 3.3125rem);
  line-height: 1.2;
}

@utility text-h5 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(1.5rem, 1rem + 1.25vw, 2.6875rem);
  line-height: 1.3;
}

@utility text-h6 {
  font-family: var(--font-heading);
  font-weight: 500;
  font-size: clamp(1.25rem, 0.75rem + 1.25vw, 2.125rem);
  line-height: 1.3;
}

@utility text-body {
  font-family: var(--font-body);
  font-weight: 300;
  font-size: clamp(1rem, 0.8rem + 0.5vw, 1.3125rem);
  line-height: 1.6;
}

@utility text-body-bold {
  font-family: var(--font-body);
  font-weight: 600;
  font-size: clamp(1rem, 0.8rem + 0.5vw, 1.3125rem);
  line-height: 1.6;
}

@utility text-accent {
  font-family: var(--font-accent);
  font-size: clamp(3rem, 2rem + 2.5vw, 4rem);
  line-height: 1.2;
}

body {
  font-family: var(--font-body);
  background-color: #F9F6F1; /* white-cream */
  color: #1E1C1B; /* black-100 */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Custom Selection style */
::selection {
  background-color: #65451F;
  color: #F9F6F1;
}
